@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: monospace;
    font-family:serif, sans-serif;
    color: black;
    font-family: "Lexend Deca", sans-serif;
  }

  body{
  background: linear-gradient(180deg, hsla(0, 0%, 18%, 1) 0%, hsla(0, 0%, 7%, 1) 70%);


  }

.containerheader{
    display: flex;
    height: 7vh;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    
  }

.navbar{
  width: 40%;
  display: flex;    
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.logincabeçalho{
  width: 15%;
  display: flex;
  justify-content: space-around;
  margin-right: 3rem;

}

.logincabeçalho a{
  color: aliceblue;
}

.logo{
  color: #1DB954;
  background-color: #212121;
  height: 2.2rem;
  width: 9rem;
  border-radius: 6%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar a{
justify-content: space-between;
color: aliceblue;

}

.containerlogin{
  height:85vh ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 13vh;
  
}

.h1saudaçao h1{
  width: 80vw;
  height: 10vh;
  color:#fff;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin-bottom:6vh ;
}

.card{
  width: 30vw;
  height: 45vh;
  border-radius: 3%;
  background: linear-gradient(360deg, hsla(0, 0%, 12%, 1) 0%, hsla(0, 0%, 7%, 1) 70%);
  align-content: center;
  justify-items: center;
  
  
}

.card form{
  width: 90%;
  height: 80%;
}

input[type="email"], input[type="password"]{
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #535353;
  box-sizing: border-box;
  color: #fff;
  background: linear-gradient(360deg, hsla(0, 0%, 5%, 1) 0%, hsla(0, 0%, 7%, 1) 70%);

  border-radius: 5px;
  font-weight: 900;
}

label[for="email"], label[for="senha"]{
  color: #fff;
}


label[for="lembrar"]{
  color: #fff;
}

button[type="submit"]{
  border: none;
  border-radius: 6px;
  background-color: #1db954;
  width:8rem;
  height: 2rem;
  color: #212121;
  font-size: 14px;
  font-weight: 900;
}